#formulario{
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5.75rem;
    background-color: var(--color-buscador);
}

@media (min-width: 768px) and (max-width: 991px) {
    #formulario{
        padding: 2rem;
    }
}

@media screen and (max-width: 767px) {
    #formulario{
        padding: 6rem 1rem;
    }
    
}
