.productos__articulos-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
}

.productos__articulos-container--busqueda{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

@media screen and (max-width: 767px) {
    .productos__articulos-container{
        flex-wrap: wrap;
        justify-content: space-between;
    }
}