:root{
    --color-blanco: #ffffff;
    --color-celeste: #EAF2FD;
    --color-azul: #2A7AE4;
    --color-texto: #464646;
    --color-buscador: #F5F5F5;
    font-family: 'Raleway', sans-serif;
}