.cabecera__buscador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-buscador);
    width: 393px;
    gap: 0.5rem;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 991px) {
    .cabecera__buscador{
        width: 272px;
    }
}

@media (min-width: 0) and (max-width: 499px) {
    .cabecera__buscador{
        box-sizing: border-box;
        width: 130px;
        height: 24px;
        background-color: var(--color-blanco);
        padding: 0;
        order: 2;
        justify-content: center;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .cabecera__buscador{
        width: 200px;
        padding: 0;
    }
}