#cabecera{
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10.55%;
    gap: 1rem;
}

@media (min-width: 768px) and (max-width: 991px) {
    #cabecera{
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 767px) {
    #cabecera{
        padding: 1rem;
    }
}